h1{
    text-align: center;
    margin: 20px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 350%;
    background-color: #001524;
    color: #DAC0A3;
    box-shadow: 5px 5px 5px #DAC0A3;
    border-radius: 10px;
}

body{
    background-color: #F8F0E5;
}

nav, footer{
    background-color: #445D48;
    padding: 10px;
    padding-top: 15px;
    text-align: center;
    color: #DAC0A3;
    width: 100%;
}

h2{
    color: #001524;
    padding:20px;
}

#bolognese img {
    max-height: 600px;
    float: right;
}

#aranygaluska img {
    max-height: 600px;
}

#bolognese, #aranygaluska{
    margin-left: 10px;
}

p{
    font-size: 120%;
}

img{
    border-radius: 20px;
    box-shadow: 5px 5px 3px grey;
    max-height: 500px;
    display: block;

}

h3 {
    font-size: 140%;
}
.leiras{
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#platter{
    
    margin-left: 100px;
}

#bor{
    margin: auto;
    float: right;
    margin-left: 100px;
}