h1{
    text-align: center;
    margin: 20px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 350%;
    background-color: #001524;
    color: #DAC0A3;
    box-shadow: 5px 5px 5px #DAC0A3;
    border-radius: 10px;
}

body{
    background-color: #F8F0E5;
    margin: auto;
}

nav, footer{
    background-color: #445D48;
    padding: 10px;
    padding-top: 15px;
    text-align: center;
    color: #DAC0A3;
    width: 100%;
}

h2{
    color: #001524;
    padding:20px;
}

#bolognese img {
    max-height: 600px;
    float: right;
}

#aranygaluska img {
    max-height: 600px;
}

#bolognese{
    margin-left: 10px;
}

p{
    font-size: 120%;
}


#pasta, #tiramisu, #platter{
    border-radius: 20px;
    box-shadow: 5px 5px 3px grey;
    max-height: 500px;
    display: block;
}

#tiramisu{
    margin-top: 100px;
}

#platter{
    height: 400px;
    margin: 15px;
    margin-bottom: 25px;
}

h3 {
    font-size: 140%;
}
.leiras{
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}



#bor{
    margin: auto;
    float: right;
    margin-left: 100px;
}

.card li:hover{
    background-color: #445D48;
    opacity: 0.5;
    margin: 5px;
    padding: 5px;
    color:#DAC0A3;
    font-weight: bolder;
    box-shadow: 3px 3px 3px grey;
}

.card a{
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    background-color:#445D48;
    color: #DAC0A3;
    border-radius: 7px;
    box-shadow: 2px 2px 2px gray;
}

.card a:hover{
    font-weight: bold;
    background-color: #DAC0A3;
    color: #445D48;
    margin: 5px;
    padding: 10px;
    box-shadow: 3px 3px 3px grey;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 7px;

}

.card{
    border-radius: 5px;
    margin: 20px;

}

.card-title{
    font-size: 1.5rem;
    color: #445D48;
}

.card img{
    width: auto;
    display: block;
}

footer a{
    text-decoration: none;
}

li{
    font-size: 110%;
    font-weight: 500;
}