h1{
    text-align: center;
    margin: 20px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 350%;
    background-color: #001524;
    color: #DAC0A3;
    box-shadow: 5px 5px 5px #DAC0A3;
}

body{
    background-color: #F8F0E5;
}

nav{
    background-color: #445D48;
}

h2{
    color: #001524;
    padding:20px;
}

#aranygaluska img{
    max-height: 600px;
    float: right;
}

#aranygaluska{
    margin-left: 10px;
}

p {
    font-size: 120%;
}

#elkeszites p{
    font-size: 120%;
    padding-bottom: 5px;
}

img {
    border-radius: 20px;
    box-shadow: 5px 5px 3px grey;
}

h3 {
    font-size: 140%;
}

#footer {
    background-color: #445D48;
    text-align: center;
    padding: 10px;
    color: #fff;
}
.viktor_img{
    width: 600px;
}
.viktor_h2{
    text-align: center;
}
.viktor_ul{
    font-size: 20px;
}